<footer class="site-footer">

  <div class="wrap">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-1 column">
      <h3>Course</h3>
      <ul>
        <li>
          {% if site.course_catalog %}
            <a href="{{ site.course_catalog }}"> {{ site.course_number }} </a>
          {% else %}
            {{ site.course_number }} 
          {% endif %}
          <span class="separator">|</span> {{ site.course_semester }}</li>
        <li>Meets in {{ site.course_room }}</li>
        <li>Meets on {{ site.course_meetingtime }}</li>
        {% if site.course_hashtag %}<li>
            Course hashtag: <a href="https://www.twitter.com/hashtag/{{site.course_hashtag}}">#{{site.course_hashtag}}</a>
          </li>{% endif %}
      </ul>
    </div>

    <div class="footer-col-2 column">
      <h3>Instructor</h3>
      <ul>
        <li>Instructor: <a href="{{ site.instructor_website }}">
            {{ site.instructor_name }}</a></li>
        <li>Email: <a href="mailto:{{ site.instructor_email }}">
            {{ site.instructor_email }}</a></li>
        <li>Office: {{ site.instructor_office }} </li>
        <li>Office hours: {{ site.instructor_officehours }}</li>
        {% if site.instructor_twitter %}<li>
            Twitter: <a href="https://www.twitter.com/{{site.instructor_twitter}}">@{{site.instructor_twitter}}</a>
          </li>{% endif %}
      </ul>
    </div>

    <div class="footer-col-3 column">
      <h3>Description</h3>
      <p class="text">{{ site.course_description }}</p>
    </div>
	
	<p>Syllabus and assignments © 2014 {{ site.instructor_name }} (<a href="/acknowledgements/">acknowledgements</a>); provided under a <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution Licence</a>.</p>

  </div>

</footer>
